  <div class="bear">
    <div class="bear-bottom">
      <div class="right-hand"></div>
      <div class="left-hand"></div>
      <div class="belly-button"></div>
      <div class="right-foot"></div>
      <div class="left-foot"></div>
    </div>
    <div class="bear-top">
      <div class="ear-right"></div>
      <div class="ear-left"></div>
      <div class="right-cheek"></div>
      <div class="left-cheek"></div>
      <div class="belly"></div>
      <div class="right-eye">
        <div class="refl"></div>
      </div>
      <div class="left-eye">
        <div class="refl"></div>
      </div>
      <div class="muzzle">
        <div class="nose"></div>
        <div class="mouth"></div>
      </div>
     </div>
   </div>
  <div class="shadow"></div>

